<div style="min-width:83vw;">
    <app-header></app-header>
    <div class="card col-md-5 mt-3" style="margin-left:auto ; margin-right: auto;">
        <div class="card-header  bg-primary text-white text-center">
            <h3>Editar Género</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="generoForm">
                <div class="form-floating">
                    <input
                        formControlName="name"
                        autocomplete="on" 
                        type="text" 
                        class="form-control mb-2"
                        [ngClass]="{'is-invalid':name?.invalid && (name?.dirty || name?.touched),'is-valid':name?.valid }"
                        placeholder="ejemplo Acción">
                        <label for="name">Nombre</label> 
                </div>
                <span *ngIf="name?.invalid && (name?.dirty || name?.touched) " class="text-danger">
                    El campo Nombre es requerido
                </span>
                <div class="d-flex justify-content-between">
                    <button 
                    [disabled]="generoForm.invalid"
                    (click)="submitForm()" 
                    class="btn btn-primary mt-3">
                    Guardar
                    </button>
                    <a routerLink="/mantenedor-generos" class="btn btn-secondary mt-3">
                        Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
    </div>
